<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://madnestranger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>madnestranger.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>madnestranger</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$madnestranger</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PharmacyEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:madnestranger.database.windows.net,1433;Initial Catalog=SportsStoreDB;User ID=madnestranger@madnestranger;Password=Masterfield9992" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectPharmacy.Models.PharmacyEntities, ProjectPharmacy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Identity" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:madnestranger.database.windows.net,1433;Initial Catalog=SportsStoreDB;User ID=madnestranger@madnestranger;Password=Masterfield9992" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjectPharmacy.Models.ApplicationDbContext, ProjectPharmacy" MigrationConfiguration="ProjectPharmacy.Migrations.Configuration, ProjectPharmacy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Identity-Web.config Connection String">
      <ParameterValue>Data Source=tcp:madnestranger.database.windows.net,1433;Initial Catalog=SportsStoreDB;User ID=madnestranger@madnestranger;Password=Masterfield9992</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PharmacyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:madnestranger.database.windows.net,1433;Initial Catalog=SportsStoreDB;User ID=madnestranger@madnestranger;Password=Masterfield9992"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>